@use "../../styles/variables" as *;

.counter-container {
    margin-top: 0.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 0.5rem;
    justify-items: center;
}

.button-increment {
  border: none;
  cursor: pointer;
  background-color: $primary-color;
  border-radius: 0.625rem;
  padding: 0.5rem 2rem;
  transition: all 0.1s ease-in-out;

  &:hover {
    background-color: darken($primary-color, 5%);
  }
}

.button-decrement {
  border: none;
  cursor: pointer;
  background-color: $primary-color;
  border-radius: 0.625rem;
  padding: 0.5rem 2rem;
  transition: all 0.1s ease-in-out;

  &:hover {
    background-color: darken($primary-color, 5%);
    }

}