@use "../../styles/variables" as *;

.employee-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-foreground;
  width: 100%;
  max-width: 350px;
  border-radius: 3px;
  overflow: hidden;
  padding: 1rem;

  .employee-card__content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    word-break: break-word;

    .employee-card__id {
      font-size: 1.5rem;
      font-weight: normal;
    }

    .employee-card__name {
        font-size: 1.5rem;
        font-weight: normal;
    }

    .employee-card__role {
      font-size: 1.5rem;
      font-weight: normal;
    }
  }
}
